<div class="container text-center" style="margin-top:20px">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="post" action="action_get_name.php">
                <h1 class="h3 mb-3 font-weight-normal">Masukan Nama Anda</h1>
                <div class="form-group">
                    <input type="text" name="name" class="form-control" placeholder="Nama" required autofocus>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <button class="btn btn-sm btn-primary btn-block" type="submit">Simpan</button>
                    </div>
                    <div class="col-md-4">
                        <a href="order-all.php">Skip ></a>
                    </div>
                </div>
                <input type="hidden" name="action" value="tell-name">
            </form>
        </div>
    </div>
</div>